@font-face {
    font-family: 'Circe';
    src: url('/fonts/Circe-ExtraBold.eot');
    src: local('☺'), url('/fonts/Circe-ExtraBold.woff') format('woff'), url('/fonts/Circe-ExtraBold.ttf') format('truetype'), url('/fonts/Circe-ExtraBold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Circe';
    src: url('/fonts/Circe-Bold.eot');
    src: local('☺'), url('/fonts/Circe-Bold.woff') format('woff'), url('/fonts/Circe-Bold.ttf') format('truetype'), url('/fonts/Circe-Bold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Circe';
    src: url('/fonts/Circe.eot');
    src: local('☺'), url('/fonts/Circe.woff') format('woff'), url('/fonts/Circe.ttf') format('truetype'), url('/fonts/Circe.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Circe';
    src: url('/fonts/Circe-Light.eot');
    src: local('☺'), url('/fonts/Circe-Light.woff') format('woff'), url('/fonts/Circe-Light.ttf') format('truetype'), url('/fonts/Circe-Light.svg') format('svg');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Circe';
    src: url('/fonts/Circe-ExtraLight.eot');
    src: local('☺'), url('/fonts/Circe-ExtraLight.woff') format('woff'), url('/fonts/Circe-ExtraLight.ttf') format('truetype'), url('/fonts/Circe-ExtraLight.svg') format('svg');
    font-weight: 100;
    font-style: normal;
  }

@media screen and (min-device-height: 0px)
  and (max-device-height: 550px) {
    .header{
    background: url("http://drive.google.com/uc?export=view&id=1kccTT3fAYWYzooNXxAavBvg7Hb7QIldg") no-repeat;
    background-size: cover;
    padding-bottom: 70%;
}
}

.header{
    height: 100vh; 
    background: url("http://drive.google.com/uc?export=view&id=1kccTT3fAYWYzooNXxAavBvg7Hb7QIldg") no-repeat;
    background-size: cover;
}

.main-bg{
    background: linear-gradient(180deg, rgba(20,31,47,1) 0%, rgba(71,116,144,1) 40%, rgba(20,31,47,1) 100%);
}

.footer-bg{
    height: 90vh; 
    background: url("http://drive.google.com/uc?export=view&id=1vmF02OhEyMoxorCiZggYw1WlFHzxlyPz") no-repeat;
    background-size: cover;
}

.btn-round-pill{
    border-radius: 50rem;
}

.btn-hover{
    color: white;
    border: 1px solid transparent ;
}
.btn-hover:hover{
    border-color:white;
}
.button:hover{
    color: white;
    box-shadow: inset 0 9999px 9999px rgba(0, 0, 0, 0.1);
}



.btn-outline-success{
    color: lightgreen;
    border-color: lightgreen;
}

.btn-line-bold{
    border-width: 2px;
}

.font-family-Circe{
    font-family: "Circe";
}


.gradientLine{
    background: linear-gradient(90deg, rgba(87,245,73,1) 0%, rgba(71,144,255,1) 100%);
    height: 6px;
}

.bg-footer{
    background-color: rgba(20,31,47,1);
}

.text-light-gray{
    color: rgb(202, 202, 202);
}

.contactUsUI{
    padding: 6px;
    resize: none;
    border: none;
    background-color: rgb(244, 247, 251);
}

.procent{
    background-color: white;
    color: salmon;
    border-radius: 15px;
}

.ribbon {
    background-image: url("/img/ribbon.png");
    height: 6px;
}

body{
    overflow-x: hidden;
}

sup{
    background-color: salmon;
    border-radius: 5px;
    padding: 2px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    font-family: "Circe";
}

img.columnsImg{
    width: 250px;
    height: 250px;
}

table,td{
    table-layout: fixed;
    text-align: center;
    font-size: 8px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden; 
}
td:nth-child(1) { 
    color: cornflowerblue;
}
td:nth-child(2) {
    color: darkgray;
}
td:nth-child(3) {
    color: darkseagreen;
    
}



